<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>niuniu3-socketio-vue</title>
        <script src="../static/axios.min.js"></script>
        <script src="../static/vue.js"></script>
        <script src="../static/socket.io.min.js"></script>
        <script src="../static/bluebird.min.js"></script>
        <link rel="stylesheet" href="../static/phone.css">
    </head>

    <body>
        <div id="app">
            <div id="game">
                <div id="testChat">
                    <input type="text" v-model="chatContext">
                    <button @click="chat">Chat</button>
                </div>
                <div id="ready">
                    <button type="button" @click="action('ready')">Ready</button>
                    <button>Leave</button>
                </div>
            </div>

            <div id="player1" v-if="status.users[(status.seat-1)%4]">
                <comp-player ref="player1" :player="status.users[(status.seat-1)%4]"></comp-player>
            </div>
            <div id="player2" v-if="status.users[(0+status.seat)%4]">
                <comp-player ref="player2" :player="status.users[(0+status.seat)%4]"></comp-player>
            </div>
            <div id="player3" v-if="status.users[(1+status.seat)%4]">
                <comp-player ref="player3" :player="status.users[(1+status.seat)%4]"></comp-player>
            </div>
            <div id="player4" v-if="status.users[(2+status.seat)%4]">
                <comp-player ref="player4" :player="status.users[(2+status.seat)%4]"></comp-player>
            </div>
        </div>


        <template id="player">
            <div>
                <p>玩家：[[ player.name ]]得分：[[ player.mark ]] <span>状态：[[ player.status ]]</span> </p>
                <hr>
                <div class="card" v-for="(item,index) in player.pai" :style="{left:index*24+'px',color:$parent.YANSE[item.slice(0,-2)]}" >
                    <div class="corner top">
                      <span class="number">[[ $parent.NUMBER[item.slice(-2)*1] ]]</span>
                      <span>[[ $parent.HUASE[item.slice(0,-2)] ]]</span>
                    </div>
                    <span class="suit middle_center">[[ $parent.HUASE[item.slice(0,-2)] ]]</span>
                    <div class="corner bottom">
                      <span class="number">[[ $parent.NUMBER[item.slice(-2)*1] ]]</span>
                      <span>[[ $parent.HUASE[item.slice(0,-2)] ]]</span>
                    </div>
                </div>
                
            </div>
        </template>

        <script>
            var vm = new Vue({
                el: '#app',
                delimiters: ["[[", "]]"],
                data: function() {
                    return {
                        user: '{{ user }}',
                        room: '{{ room }}',
                        socket: null,
                        chatContext: null,
                        status: {
                            users:[]
                        },
                        seat: null,
                        HUASE: {
                        'hongt': '♥',
                        'heit': '♠',
                        'fangp': '♦',
                        'meih': '♣'
                        },
                        NUMBER: {
                            1: 'A',
                            2: '2',
                            3: '3',
                            4: '4',
                            5: '5',
                            6: '6',
                            7: '7',
                            8: '8',
                            9: '9',
                            10: '10',
                            11: 'J',
                            12: 'Q',
                            13: 'K'
                        },
                        YANSE: {
                            hongt: 'red',
                            fangp: 'red',
                            heit: 'black',
                            meih: 'black'
                        },
                    }
                },
                methods: {
                    chat: function(){
                        this.socket.emit('action', {action:'chat',content:this.chatContext})
                    },
                    action: function(act){
                        this.socket.emit('action', {action:act,content:'test content'})
                    }
                },
                components: {
                    'comp-player': {
                        template: '#player',
                        delimiters: ["[[", "]]"],
                        props: ["player", "myPai", "mark"],
                        data: function (){
                            return {

                            }
                        }
                    }
                },
                
                mounted: function(){
                    var self = this
                    console.log('mounted')
                    this.socket = io.connect('http://' + document.domain + ':' + location.port + '/game')
                    this.socket.emit('joined',{})
                    this.socket.on('status', function(data){
                        console.log(data)
                    })
                    this.socket.on('message', function(data){
                        console.log(data)
                    })
                    this.socket.on('action', function(data){
                        // 响应服务器消息处理函数
                        switch (data.action){
                            case 'join':{
                                console.log('join------------')
                                // 发送消息，让其它玩家发送自己的当前状态
                                self.socket.emit('action',{action:'status', content:self.$refs.player1.status}) 
                                break
                            };
                            case 'ready':{
                                console.log('ready-----------')
                                self.status.users[data.seat-1].status = 'ready'
                                break
                            };
                            case 'chat':{
                                console.log('chat------------')
                                break
                            };
                            case 'status':{
                                console.log('status-----------')
                                break
                            }

                        }
                        console.log(data)
                    })
                    axios.get('./status').then(function(response){
                        var data = JSON.parse(response.data)
                        for (i in data.users){
                            data.users[i] = {name:data.users[i], status:'wait', pai:[], mark:0}
                        }
                        self.status = data
                    })
                }
            })
        </script>
    </body>
</html>