<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>niuniu3-socketio-vue</title>
        <script src="../static/axios.min.js"></script>
        <script src="../static/vue.js"></script>
        <script src="../static/socket.io.min.js"></script>
        <script src="../static/bluebird.min.js"></script>
        <link rel="stylesheet" href="../static/phone.css">
    </head>

    <body>
        <div id="app">
            <div id="game">
                <div id="info">
                    <p>[[ room ]]</p>
                    <p><span>chat:</span>[[ chatList ]]</p>
                </div>
                <div id="testChat">
                    <input type="text" v-model="chatContext">
                    <button @click="chat">Chat</button>
                </div>
                <div id="ready" v-if="step=='ready' && waitAction">
                    <button type="button" @click="ready">Ready</button>
                    <button>Leave</button>
                </div>
                <div id="qiangzhuang" v-if="step=='qiangzhuang' && waitAction">
                    <button type="button" @click="qiangzhuang(1)">抢庄</button>
                    <button type="button" @click="qiangzhuang(0)">不抢</button>
                </div>
                <div id="xiazhu" v-if="step=='xiazhu' && waitAction">
                        <button type="button" @click="xiazhu(1)">1倍</button>
                        <button type="button" @click="xiazhu(2)">2倍</button>
                        <button type="button" @click="xiazhu(3)">3倍</button>
                </div>
                <div id="show" v-if="step=='show' && waitAction">
                    <button @click="show">亮牌</button>
                </div>
            </div>

            <div id="player1" v-if="status.users[(status.seat-1)%4]">
                <comp-player ref="player1" :player="status.users[(status.seat-1)%4]"></comp-player>
            </div>
            <div id="player2" v-if="status.users[(0+status.seat)%4]">
                <comp-player ref="player2" :player="status.users[(0+status.seat)%4]"></comp-player>
            </div>
            <div id="player3" v-if="status.users[(1+status.seat)%4]">
                <comp-player ref="player3" :player="status.users[(1+status.seat)%4]"></comp-player>
            </div>
            <div id="player4" v-if="status.users[(2+status.seat)%4]">
                <comp-player ref="player4" :player="status.users[(2+status.seat)%4]"></comp-player>
            </div>
        </div>


        <template id="player">
            <div>
                <p>玩家：[[ player.name ]]得分：[[ player.mark ]] <span>状态：[[ player.status ]]</span><span v-if="player.zhuang===2">庄</span> </p>
                <hr>
                <div class="card" v-for="(item,index) in player.pai" :style="{left:index*24+'px',color:$parent.YANSE[item.slice(0,-2)]}" >
                    <div v-if="item!=='back'">
                    <div class="corner top">
                      <span class="number">[[ $parent.NUMBER[item.slice(-2)*1] ]]</span>
                      <span>[[ $parent.HUASE[item.slice(0,-2)] ]]</span>
                    </div>
                    <span class="suit middle_center">[[ $parent.HUASE[item.slice(0,-2)] ]]</span>
                    <div class="corner bottom">
                      <span class="number">[[ $parent.NUMBER[item.slice(-2)*1] ]]</span>
                      <span>[[ $parent.HUASE[item.slice(0,-2)] ]]</span>
                    </div>
                </div>
                <div v-else id="back">
                </div>
                </div>
                
            </div>
        </template>

        <script>
            var vm = new Vue({
                el: '#app',
                delimiters: ["[[", "]]"],
                data: function() {
                    return {
                        user: '{{ user }}',
                        room: '{{ room }}',
                        socket: null,
                        chatContext: null,
                        chatList: [],
                        step: 'ready',
                        waitAction:true,
                        status: {
                            users:[]
                        },
                        HUASE: {
                        'hongt': '♥',
                        'heit': '♠',
                        'fangp': '♦',
                        'meih': '♣'
                        },
                        NUMBER: {
                            1: 'A',
                            2: '2',
                            3: '3',
                            4: '4',
                            5: '5',
                            6: '6',
                            7: '7',
                            8: '8',
                            9: '9',
                            10: '10',
                            11: 'J',
                            12: 'Q',
                            13: 'K'
                        },
                        YANSE: {
                            hongt: 'red',
                            fangp: 'red',
                            heit: 'black',
                            meih: 'black'
                        },
                    }
                },
                methods: {
                    chat: function(){
                        this.socket.emit('action', {action:'chat',content:this.chatContext})
                    },
                    ready: function(){
                        this.waitAction = false
                        this.socket.emit('action', {action:'ready',content:'ready'})
                    },
                    qiangzhuang: function(qiang){
                        this.waitAction = false
                        // 如果所有人都已选择好，发送完成抢庄数据，emit服务器进行选择庄家的操作
                        this.status.users[this.status.seat - 1].status = 'qiangzhuang'
                        if (this.checkDone('qiangzhuang')){
                            this.socket.emit('action', {action:'choicezhuang',content:qiang})
                        } else {
                            this.socket.emit('action', {action:'qiangzhuang',content:qiang})
                        }
                    },
                    xiazhu: function(zhu){
                        this.waitAction = false
                        this.socket.emit('action', {action:'xiazhu', content:zhu})
                    },
                    show: function(){
                        this.waitAction = false
                        // 亮牌，发送自己的牌面给所有玩家，非服务器数据,如果所有人都已亮牌，发送finish，完成本局
                        this.status.users[this.status.seat-1].status = 'show'
                        if (this.checkDone('show')){
                            this.socket.emit('action', {action:'finish', content:this.$refs.player1.player.pai})
                        } else {
                            this.socket.emit('action', {action:'show', content:this.$refs.player1.player.pai})
                        }
                    },
                    checkDone: function(what){
                        // 检查是否所有玩家都处于what状态
                        for (i of this.status.users){
                            if(i.status !== null){
                                if(i.status!==what){
                                    console.log(i.name)
                                    return false
                                }
                            }
                        }
                        return true
                    }
                },
                components: {
                    'comp-player': {
                        template: '#player',
                        delimiters: ["[[", "]]"],
                        props: ["player", "myPai", "mark"],
                        data: function (){
                            return {

                            }
                        }
                    }
                },
                
                mounted: function(){
                    var self = this
                    console.log('mounted')
                    this.socket = io.connect('http://' + document.domain + ':' + location.port + '/game')
                    this.socket.emit('joined',{})
                    this.socket.on('status', function(data){
                        console.log(data)
                    })
                    this.socket.on('message', function(data){
                        console.log(data)
                    })
                    this.socket.on('action', function(data){
                        // 响应服务器消息处理函数
                        switch (data.action){
                            case 'join':{
                                console.log('join------------')
                                // 将该玩家放到content对应的座位上
                                self.status.users[data.seat-1].name = data.user
                                // 发送消息，让其它玩家发送自己的当前状态
                                self.socket.emit('action',{action:'status', content:self.$refs.player1.player.status}) 
                                break
                            };
                            case 'ready':{
                                console.log('ready-----------')
                                self.status.users[data.seat-1].status = 'ready'
                                // 如果所有人都已准备，获取各自的牌
                                if (self.checkDone('ready')){
                                    self.socket.emit('action',{action:'fapai',content:'fapai'})
                                }
                                break
                            };
                            case 'chat':{
                                console.log('chat------------')
                                self.chatList.push(data.content)
                                break
                            };
                            case 'fapai':{
                                for (i in self.status.users){
                                    self.status.users[i].pai = ['back','back','back','back','back']
                                }
                                self.step = 'qiangzhuang'
                                self.waitAction = true
                                self.status.users[self.status.seat-1].pai = data.content
                                self.status.users[self.status.seat-1].pai[4] = 'back'

                                break
                            };
                            case 'qiangzhuang':{
                                self.status.users[data.seat-1].status = 'qiangzhuang'
                                self.status.users[data.seat-1].zhuang = data.content
                                break
                            };
                            case 'choicezhuang':{
                                self.status.users[data.seat-1].status = 'qiangzhuang'
                                self.step = 'xiazhu'
                                self.waitAction = true
                                self.status.users[data.seat-1].zhuang = data.content[0]
                                self.status.users[data.content[1] - 1].zhuang = 2
                                break
                            };
                            case 'xiazhu':{
                                self.status.users[data.seat-1].zhu = data.content
                                self.status.users[data.seat-1].status = 'xiazhu'
                                if (self.checkDone('xiazhu')){
                                    self.step = 'show'
                                    self.waitAction = true
                                    self.socket.emit('action',{action:'fapai2',content:'fapai2'})
                                }
                                break
                            };
                            case 'fapai2':{
                                self.status.users[self.status.seat-1].pai[4] = data.content
                                break
                            };
                            case 'show':{
                                self.status.users[data.seat-1].status = 'show'
                                self.status.users[data.seat-1].pai = data.content
                                break
                            };
                            case 'finish':{
                                self.status.users[data.seat-1].status = 'show'
                                for (i in self.status.users){
                                    self.status.users[i].mark = self.status.users[i].mark +  data.marks[i]
                                }
                                self.step = 'ready'
                                self.waitAction = true
                                self.status.users[data.seat-1].pai = data.content
                                break
                            }
                            case 'status':{
                                console.log('status-----------')
                                self.status.users[data.seat-1].status = data.content
                                break
                            }

                        }
                        console.log(data)
                    })
                    axios.get('./status').then(function(response){
                        var data = JSON.parse(response.data)
                        for (i in data.users){
                            if(data.users[i]==='None'){
                                data.users[i] = {name:data.users[i], status:null, pai:[], mark:0,zhuang:0,xiazhu:0}
                            }else{
                                data.users[i] = {name:data.users[i], status:'wait', pai:[], mark:0,zhuang:0,xiazhu:0}
                            }
                            
                        }
                        self.status = data
                    })
                }
            })
        </script>
    </body>
</html>