<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>niuniu3-socketio-vue</title>
        <script src="../static/axios.min.js"></script>
        <script src="../static/vue.js"></script>
        <script src="../static/socket.io.min.js"></script>
        <script src="../static/bluebird.min.js"></script>
        <link rel="stylesheet" href="../static/phone.css">
    </head>

    <body>
        <div id="app">
            <div id="game">
                <div id="testChat">
                    <input type="text" v-model="chatContext">
                    <button @click="chat">Chat</button>
                </div>
                <div id="ready">
                    <button type="button" @click="action('ready')">Ready</button>
                    <button>Leave</button>
                </div>
            </div>
        </div>
        <comp-test></comp-test>
        <div id="player1">
            <comp-player ref="player1" :player-name="status.data[0]" :my-pai="pai[0]" :mark="marks[0]"></comp-player>
        </div>
        <div id="player2">
            <comp-player ref="player2" :player-name="status.data[1]" :my-pai="pai[1]" :mark="marks[1]"></comp-player>
        </div>
        <div id="player3">
            <comp-player ref="player3" :player-name="status.data[2]" :my-pai="pai[2]" :mark="marks[2]"></comp-player>
        </div>
        <div id="player4">
            <comp-player ref="player4" :player-name="status.data[3]" :my-pai="pai[3]" :mark="marks[3]"></comp-player>
        </div>

        <template id="player">
            <div>
                <p>玩家：[[ playerName ]]得分：[[ mark ]]</p>
                <hr>
                <div class="card" v-for="(item,index) in myPai" :style="{left:index*24+'px',color:$parent.YANSE[item.slice(0,-2)]}" >
                    <div class="corner top">
                      <span class="number">[[ $parent.NUMBER[item.slice(-2)*1] ]]</span>
                      <span>[[ $parent.HUASE[item.slice(0,-2)] ]]</span>
                    </div>
                    <span class="suit middle_center">[[ $parent.HUASE[item.slice(0,-2)] ]]</span>
                    <div class="corner bottom">
                      <span class="number">[[ $parent.NUMBER[item.slice(-2)*1] ]]</span>
                      <span>[[ $parent.HUASE[item.slice(0,-2)] ]]</span>
                    </div>
                </div>
                
            </div>
        </template>

        <template id="test">
            <div>
                <h1>hello,test</h1>
            </div>
        </template>

        <script>
            var vm = new Vue({
                el: '#app',
                delimiters: ["[[", "]]"],
                data: function() {
                    return {
                        socket: null,
                        chatContext: null,
                        status: null,
                        seat: null,
                        HUASE: {
                        'hongt': '♥',
                        'heit': '♠',
                        'fangp': '♦',
                        'meih': '♣'
                        },
                        NUMBER: {
                            1: 'A',
                            2: '2',
                            3: '3',
                            4: '4',
                            5: '5',
                            6: '6',
                            7: '7',
                            8: '8',
                            9: '9',
                            10: '10',
                            11: 'J',
                            12: 'Q',
                            13: 'K'
                        },
                        YANSE: {
                            hongt: 'red',
                            fangp: 'red',
                            heit: 'black',
                            meih: 'black'
                        },
                    }
                },
                methods: {
                    chat: function(){
                        this.socket.emit('message', {msg:this.chatContext})
                    },
                    action: function(act){
                        this.socket.emit('action', {action:act})
                    }
                },
                components: {
                    'comp-player': {
                        template: '#player',
                        delimiters: ["[[", "]]"],
                        props: ["playerName", "myPai", "mark"],
                        data (){
                            return {

                            }
                        }
                    },
                    'comp-test': {
                        template: '#test',
                        data(){
                            return {

                            }
                        }
                    }
                },
               
            })
        </script>
    </body>
</html>